.page-footer {
  background-color: var(--footer-color);
  padding: 60px 0;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  & > .page-footer__section:not(:last-child) {
    margin-bottom: 60px;
  }
}

.page-footer__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__section-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .page-footer__container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__container {
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .page-footer__section {
    align-items: flex-start;
  }
}
