@media screen and (max-width: 1199px) {
  .activity-section {
    display: none;
  }
}

.activity-section {
  padding: 94px 0;
  background-color: var(--main-color);
}

.activity-section__list {
  display: flex;

  & > li:not(:last-child) {
    margin-right: 30px;
  }
}

.activity-section__thumb {
  position: relative;
}

.activity-section__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.activity-section__overlay__paragraph {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-color);
}
