.portfolio-list {
  display: flex;
  flex-wrap: wrap;

  & > .portfolio-list__item {
    margin-bottom: 30px;
  }
}

@media screen and(min-width:768px) {
  .portfolio-list {
    justify-content: space-between;

    & > .portfolio-list__item {
      margin-bottom: 0;
    }
    & > .portfolio-list__item:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

@media screen and(min-width: 1200px) {
  .portfolio-list {
    & > .portfolio-list__item:not(:last-child) {
      margin-bottom: 0;
    }

    & > .portfolio-list__item:not(:nth-last-child(-1n + 3)) {
      margin-bottom: 30px;
    }
  }
}
